# Functions
       - python functions   {print, input, len, round, type, del int,..}
       - class functions   
       - user defined functions
       - userdefined class function

In [4]:
# function definiton
def greet():
    print("Welcome") 
    
# parameter-less

In [5]:
# function call
greet()

Welcome

In [6]:
greet()

Welcome

In [7]:
greet()

Welcome

In [9]:
greet("Hasan")

TypeError: greet() takes 0 positional arguments but 1 was given

In [15]:
def greet_user(name):# parameter
    print(f"Welcome {name}")
#     print("Welcome", name)

In [17]:
greet_user('Mr Kamran Khan!')# argument

Welcome Mr Kamran Khan!

In [18]:
greet_user("Nasir")

Welcome Nasir

In [32]:
"I am a text for counting.I am a text for counting.".split(".")

['I am a text for counting', 'I am a text for counting', '']

In [35]:
# write a function that tells how many characters, 
# words and sentences are there in a given paragraph
def text_counts(txt):
    chars_count = len(txt)
    words_count =len(txt.split())
    sents_count = len(txt.split('.'))-1
    print(f"""
       words : {words_count}
       sentence: {sents_count}
       char:   : {chars_count}
    """)

In [36]:

text_counts("I am a text for counting. I am a text for counting.")

       words : 12
       sentence: 2
       char:   : 51

In [37]:
text_counts("Am i a text for counting? I am a text for counting.")

       words : 12
       sentence: 1
       char:   : 51

## Write a function that takes numbers input and ask for operation like add sub mul div

In [50]:
def calc (num1,num2,opr):    
    if opr == '+':
        print(num1+num2)
    elif opr == '-':
        print(num1-num2)
    elif opr == '*':
        print(num1*num2)
    elif (opr == '/'):
        if num2!=0:
            print(num1/num2)
        else:
            print("Divide by Zeero not allowed")
    else:
        print("Operation not supported")

In [51]:
calc(4,5,'+')

9

In [52]:
calc(6,8,"*")

48

In [53]:
calc(6,0,"/")

Divide by Zeero not allowed

In [54]:
calc(6,0,"%")

Operation not supported

# Return

In [88]:
def discount_calc(bill_amt):
    if bill_amt > 30000:
        discount = bill_amt*.30
    elif bill_amt > 25000:
        discount = bill_amt*.25        
    elif bill_amt > 20000:
        discount = bill_amt*.20
    elif bill_amt > 15000:
        discount = bill_amt*.15
    elif bill_amt > 10000:
        discount = bill_amt*.10        
    else:
        discount = bill_amt*0
    return discount

In [96]:
store_items = {"rice":3000 ,"oil":500,"water":100, "choclate":100, "fairnlovely":200,
              "mobile":5000 ,"ghee":5000,"milk":250, "biscuit":1000, "pulses":400,
              "soap":300, "bottle":15000,"surf":1100, "tea":1600, "phnyle":200}
def store():  
    amt = 0
    cart = []
    while True:
        order = input("Enter order item or q to quit: ").lower()
        if order != "q":
            if order in store_items.keys():
                if (amt+store_items[order]) < 50000:                
                    amt+=store_items[order]                
                    cart.append(order) 
                    print(cart)
                    print(amt)
                else:
                    print(cart)
                    print(amt)
                    print("Your bill amt exceed the limit")
                    
                    return cart, amt, discount_calc(amt)  
            else:
                print(f"{order} not in our store")
                print(cart)
                print(amt)
                continue       
        else:
            break
    return cart, amt,discount_calc(amt)

In [97]:
cart, amt, discount = store()

Enter order item or q to quit: bottle
['bottle']
15000
Enter order item or q to quit: ghee
['bottle', 'ghee']
20000
Enter order item or q to quit: rice
['bottle', 'ghee', 'rice']
23000
Enter order item or q to quit: bottle
['bottle', 'ghee', 'rice', 'bottle']
38000
Enter order item or q to quit: ghee
['bottle', 'ghee', 'rice', 'bottle', 'ghee']
43000
Enter order item or q to quit: rice
['bottle', 'ghee', 'rice', 'bottle', 'ghee', 'rice']
46000
Enter order item or q to quit: bottle
['bottle', 'ghee', 'rice', 'bottle', 'ghee', 'rice']
46000
Your bill amt exceed the limit

In [99]:
cart, amt, dis = store()
print(f'''
            ABC General Store 
            ___________________
    Cart: {cart}
    Amount: {amt}
    Discount: {dis}
    
    Total_Bill : { amt-dis}


      Thanks for shopping!

''')

Enter order item or q to quit: bottle
['bottle']
15000
Enter order item or q to quit: mobile
['bottle', 'mobile']
20000
Enter order item or q to quit: ghee
['bottle', 'mobile', 'ghee']
25000
Enter order item or q to quit: rice
['bottle', 'mobile', 'ghee', 'rice']
28000
Enter order item or q to quit: bottle
['bottle', 'mobile', 'ghee', 'rice', 'bottle']
43000
Enter order item or q to quit: mobile
['bottle', 'mobile', 'ghee', 'rice', 'bottle', 'mobile']
48000
Enter order item or q to quit: ghee
['bottle', 'mobile', 'ghee', 'rice', 'bottle', 'mobile']
48000
Your bill amt exceed the limit

            ABC General Store
            ___________________
    Cart: ['bottle', 'mobile', 'ghee', 'rice', 'bottle', 'mobile']
    Amount: 48000
    Discount: 14400.0

    Total_Bill : 33600.0


      Thanks for shopping!

# More on functions....
     - default values
     - position arguments
     - keyword arguments

In [100]:
# position parameters
def full_name(firstname, middlename, lastname):
    fullname = firstname + middlename + lastname
    return fullname

In [101]:
full_name("Syed", "Muhammad", "Raza")
# position arguments

'SyedMuhammadRaza'

In [102]:
full_name("Raza", "Muhammad", "Syed")

'RazaMuhammadSyed'

In [103]:
# positional parameters
def full_name(firstname, middlename, lastname):
    fullname = firstname + middlename + lastname
    return fullname

In [104]:
full_name(lastname="Hussain", middlename="Nasir", firstname="Syes")

'SyesNasirHussain'

In [108]:
# default argument
def full_name(firstname, lastname, middlename=""):
    fullname = firstname + middlename + lastname
    return fullname

In [109]:
full_name('Nasir', 'Hussain')

'NasirHussain'

In [110]:
full_name("Nasir", middlename="Hussain", lastname="hello")

'NasirHussainhello'

In [111]:
full_name(firstname="Nasir", middlename="Hussain", "Hello")

SyntaxError: positional argument follows keyword argument (<ipython-input-111-b14efa24940c>, line 1)

# Arbitrarty arguments

In [115]:
def summing(n1,n2,n3=0):
    s = n1 + n2+ n3
    return s

In [116]:
summing(1,2,3)

6

In [117]:
summing(4,5)

9

In [122]:
def summing(*n):
    s = sum(n)
    return s

In [123]:
summing(3,5)

8

In [124]:
summing(1,2,3,4,5,6,7,8,9)

45

In [127]:
def invite_guest(*gst):
    for g in gst:
        print(f"Mr {g} you are invited!")

In [128]:
invite_guest('nasir', "waseem", "usman", 'kashif')

Mr nasir you are invited!
Mr waseem you are invited!
Mr usman you are invited!
Mr kashif you are invited!

In [137]:
import mymath

In [138]:
mymath.calc(45,3,"*")

135

# Exceptions :Exception Handlings/Error

In [139]:
num = int(input("Enter a number"))

Enter a numberapple

ValueError: invalid literal for int() with base 10: 'apple'

In [140]:
10/0

ZeroDivisionError: division by zero

In [150]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))
try:
    ans = num1 / num2 

except ZeroDivisionError:
    print("You can not divide a number by 0")
    
else:
    print(ans)

Enter a number3
Enter a number3
1.0

In [156]:
try:
    num1 = int(input("Enter a number"))
    num2 = int(input("Enter a number"))
    ans = num1 / num2 

except ZeroDivisionError:
    print("You can not divide a number by 0")
except ValueError:
    print("You can only enter digits")
    
else:
    print(ans)

Enter a number4
Enter a number5
0.8

In [159]:
try:
    num1 = int(input("Enter a number"))
    num2 = int(input("Enter a number"))
    ans = num1 / num2 

except: 
    print("Koi na koi exception pakri gae hy")
else:
    print(ans)

Enter a number5
Enter a number0
Koi na koi exception pakri gae hy

In [2]:
try:
    num1 = int(input("Enter a number"))
    num2 = int(input("Enter a number"))
    ans = num1 / num2 

except Exception as e: 
    print(e)
else:
    print(ans)

Enter a numberty
invalid literal for int() with base 10: 'ty'

In [18]:
age  = int(input("Enter your age: "))

try: 
    if age <15 or age >100:
        raise Exception ("Age restriction Error")
except Exception as e:
    print("Children and old age not allowed")
else:
    print("You are admitted")

Enter your age: 11
Children and old age not allowed

In [7]:
class Student():
    def __init__(self,name,age):
        if age > 80 or age <16:
            raise Exception("Age can not be greater then 80 and less then 16")
        self.name = name
        self.age = age

In [8]:
age = int(input("Enter students age: "))
st = Student("Nasir",age)
print(st.age)

Enter students age: 15

Exception: Age can not be greater then 80 and less then 16

# File I/O