# Python Dictionaries 
    - dictionary are created using  {}
    - items in dictionaries are key:value based NOT on index basis

In [3]:
# creating an empty dict
record1 = {}
type(record1)

dict

In [7]:
# creating a dic with items ( key:value) pair
record2 = {"laptop":20000, 'keyboard':5000, 'bag':3000}
len(record2)

3

In [8]:
# retriving data from a dictionary
# based on keys only
record2['bag']

3000

### delete elements from a dictionary
  - pop 
  - pop items
  -  del

In [11]:
del record2['bag']

In [12]:
record2

{'laptop': 20000, 'keyboard': 5000}

In [14]:
record2.pop('laptop')

20000

In [15]:
record2

{'keyboard': 5000}

In [17]:
record2 = {"laptop":20000, 'keyboard':5000, 'bag':3000}
# removes last key-value pair from list. 
print(record2.popitem())
record2

('bag', 3000)

{'laptop': 20000, 'keyboard': 5000}

In [18]:
record1

{}

In [19]:
record1['name'] = "Ali"
record1

{'name': 'Ali'}

In [20]:
record1['email'] = "ali@gmail.com"
record1

{'name': 'Ali', 'email': 'ali@gmail.com'}

In [21]:
# repeated keys will reassign new updated value in memory
# previous one will be updated
temp_dic = {1:1, 2:8, 3:27,4:64,5:125, 2:88}
temp_dic

{1: 1, 2: 88, 3: 27, 4: 64, 5: 125}

In [22]:
temp_dic = {1:'one', 2:'eight', 3:'twenty seven','four':64,5:125}
temp_dic

{1: 'one', 2: 'eight', 3: 'twenty seven', 'four': 64, 5: 125}

In [24]:
temp_dic[3][1]

'w'

In [25]:
sales = {
         'items':     ['cell','grinder','tv','laptop'],
         'price':     [1200,2000,25000,50000],
          'sale_man': ['nasir', 'waseem', 'umer', 'khan'],
          "units":    [200, 5,50,20]
        }

In [26]:
import pandas as pd

In [64]:
df = pd.DataFrame(sales)
df['distr'] = "XYT Enter"
df

     items  price sale_man  units      distr
0     cell   1200    nasir    200  XYT Enter
1  grinder   2000   waseem      5  XYT Enter
2       tv  25000     umer     50  XYT Enter
3   laptop  50000     khan     20  XYT Enter

In [38]:
# we can get value using get function and indexing by passing key
print(record1.get('email'))

print(record1['email'])

ali@gmail.com
ali@gmail.com

In [39]:
# will return keys 
record1.keys()

dict_keys(['name', 'email'])

In [40]:
# will return values
record1.values()

dict_values(['Ali', 'ali@gmail.com'])

In [36]:
# will return both key n values in form of tuple.
record1.items()

dict_items([('name', 'Ali'), ('email', 'ali@gmail.com')])

In [45]:
# if more than one key value pair to be added we will use update
# which extends the dictinary 
record1.update({'contact':'1234567890', 'course':"DS"})

In [46]:
record1

{'name': 'Ali',
 'email': 'ali@gmail.com',
 'contact': '1234567890',
 'course': 'DS'}

In [47]:
# plus operator will not extends dictionaries but it extends lists
record1 + record2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [48]:
record1.setdefault('imdefault')

In [50]:
record1

{'name': 'Ali',
 'email': 'ali@gmail.com',
 'contact': '1234567890',
 'course': 'DS',
 'imdefault': None}

In [60]:
contact = {"zahid":1,"asad":2}
msg = 1,2

newmsg = dict.fromkeys(contact,msg)

In [61]:
newmsg

{'zahid': (1, 2), 'asad': (1, 2)}

In [65]:
x = [
    'a',
     'b',
     {'foo': 1,'bar':{'x' : 10,'y' : 20,'z' : 30},'baz': 3 },
    'c',
    'd'
    ]
x[2]['bar']['z']

30

In [66]:
{(3+2j):"100"}

{(3+2j): '100'}

In [67]:
{len:23}

{<function len(obj, /)>: 23}

In [71]:
{a:"dictionary"}

TypeError: unhashable type: 'dict'

In [70]:
a = dict(foo=1, bar=2)

In [72]:
{[1,3] :34}

TypeError: unhashable type: 'list'

In [73]:
{(1,2):12}

{(1, 2): 12}

In [76]:
x = [
    'a',
     'b',
     {'foo': 1,'bar':{'x' : 10,'y' : 20,'z' : 30},'baz': 3 },
    'c',
    'd'
    ]

'z' in x[2]['bar']

True

# Set

In [77]:
aset = {1,1,3,2}
aset

{1, 2, 3}

In [78]:
bset = {}
cset= {1}