In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [48]:
df =pd.read_csv('Dataset/covid_toy.csv')

In [75]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [50]:
df.shape

(100, 6)

In [51]:
df.gender.value_counts()

Female    59
Male      41
Name: gender, dtype: int64

In [52]:
df.cough.value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [53]:
df.city.value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [54]:
df.fever.value_counts()

98.0     17
101.0    17
104.0    14
100.0    13
102.0    10
99.0     10
103.0     9
Name: fever, dtype: int64

In [55]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [56]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns= ['has_covid']),df['has_covid'],test_size=0.2)

# Ordinary way to Encode Columns

In [57]:
# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])
X_test_fever = si.fit_transform(X_test[['fever']])
X_train_fever.shape

(80, 1)

In [59]:
# adding Ordinal Encoder = > cough
oe = OrdinalEncoder(categories= [['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])
X_test_cough = oe.fit_transform(X_test[['cough']])
X_train_cough.shape

(80, 1)

In [76]:
# adding OneHot Encoder = > gender,city  => Sparse False will return an array otherwise we recieved object
ohe = OneHotEncoder(drop = 'first', sparse = False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])
#X_train_gender_city
X_train_gender_city.shape

(80, 4)

In [77]:
# Extracting Age by combining the encoding column to orignal dataset

In [78]:
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values
X_train_age.shape

(80, 1)

In [79]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis = 1)
X_test_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis = 1)
X_train_transformed.shape

(80, 7)

# Mentos Zindagi

In [80]:
from sklearn.compose import ColumnTransformer

In [81]:
transformer  = ColumnTransformer(transformers=[
    ('tnf1' ,SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tn3' ,OneHotEncoder (sparse=False ,drop = 'first'),['gender','city'])],
    remainder = 'passthrough'
)

In [82]:
transformer.fit_transform(X_train).shape

(80, 7)

In [83]:
transformer.fit_transform(X_test).shape

(20, 7)