# Python Dictionaries
    Dictionary created with {}
    items in dictionaries are key-value based NOT on index base

In [7]:
#Creating an Empty Dictionary
country_with_capitals ={}
type(country_with_capitals)

dict

In [55]:
# Creating dictionary with key-value pair
country_with_capitals ={
    "Pakistan":"Islamabad",
     "USA": "Washington DC",
     "Bangladesh":"Dhaka",
      "India" :"Mumbai"
}

In [56]:
print(country_with_capitals)

{'Pakistan': 'Islamabad', 'USA': 'Washington DC', 'Bangladesh': 'Dhaka', 'India': 'Mumbai'}

In [57]:
len(country_with_capitals)

4

In [58]:
print(country_with_capitals)

{'Pakistan': 'Islamabad', 'USA': 'Washington DC', 'Bangladesh': 'Dhaka', 'India': 'Mumbai'}

In [59]:
# retrival of data from all Data Structure
# based on Keys only
country_with_capitals["Pakistan"]

'Islamabad'

# Dictionary Elements Deletion
    -Pop
    -del
    -pop items

In [60]:
country_with_capitals.pop("Bangladesh")

'Dhaka'

In [61]:
del country_with_capitals["India"]

In [54]:
print(country_with_capitals)

{'Pakistan': 'Islamabad', 'USA': 'Washington DC'}

In [62]:
popitems=country_with_capitals.popitem()
print(popitems)
print(country_with_capitals)

('USA', 'Washington DC')
{'Pakistan': 'Islamabad'}

In [63]:
country_with_capitals ['Iraq'] = 'Baghdad'

In [64]:
country_with_capitals

{'Pakistan': 'Islamabad', 'Iraq': 'Baghdad'}

In [90]:
temp_dict = {1:1, 2:4, 4:64, 5:"Ahmed"}
temp_dict

{1: 1, 2: 4, 4: 64, 5: 'Ahmed'}

In [91]:
temp_dict[5]

'Ahmed'

In [92]:
temp_dict[5][1]

'h'

In [77]:
sales = {
    'Item':["laptop","Monitor","Speaker","Keyboard","Mouse","Handsfree"],
    'Price':[25000000,25000,32000,42000,950,2560],
    'Units':[25,30,12,10,25,400],
    'sales_man':["Ahmed","Ali","Ahsan","Aslam","Abbas","Asim"]
}

In [78]:
sales

{'Item': ['laptop', 'Monitor', 'Speaker', 'Keyboard', 'Mouse', 'Handsfree'],
 'Price': [25000000, 25000, 32000, 42000, 950, 2560],
 'Units': [25, 30, 12, 10, 25, 400],
 'sales_man': ['Ahmed', 'Ali', 'Ahsan', 'Aslam', 'Abbas', 'Asim']}

In [83]:
import pandas as pd
Shop=pd.DataFrame(sales)
Shop

        Item     Price  Units sales_man
0     laptop  25000000     25     Ahmed
1    Monitor     25000     30       Ali
2    Speaker     32000     12     Ahsan
3   Keyboard     42000     10     Aslam
4      Mouse       950     25     Abbas
5  Handsfree      2560    400      Asim

In [98]:
sales

{'Item': ['laptop', 'Monitor', 'Speaker', 'Keyboard', 'Mouse', 'Handsfree'],
 'Price': [25000000, 25000, 32000, 42000, 950, 2560],
 'Units': [25, 30, 12, 10, 25, 400],
 'sales_man': ['Ahmed', 'Ali', 'Ahsan', 'Aslam', 'Abbas', 'Asim']}

In [105]:
sales.get('Item')

['laptop', 'Monitor', 'Speaker', 'Keyboard', 'Mouse', 'Handsfree']

In [108]:
sales.keys()

dict_keys(['Item', 'Price', 'Units', 'sales_man'])

In [109]:
sales.values()

dict_values([['laptop', 'Monitor', 'Speaker', 'Keyboard', 'Mouse', 'Handsfree'], [25000000, 25000, 32000, 42000, 950, 2560], [25, 30, 12, 10, 25, 400], ['Ahmed', 'Ali', 'Ahsan', 'Aslam', 'Abbas', 'Asim']])

In [110]:
sales.items()

dict_items([('Item', ['laptop', 'Monitor', 'Speaker', 'Keyboard', 'Mouse', 'Handsfree']), ('Price', [25000000, 25000, 32000, 42000, 950, 2560]), ('Units', [25, 30, 12, 10, 25, 400]), ('sales_man', ['Ahmed', 'Ali', 'Ahsan', 'Aslam', 'Abbas', 'Asim'])])

In [111]:
# work likes Extend in list
sales.update({"Adress" :"Karachi", "contact":"02154564564"})

In [112]:
sales

{'Item': ['laptop', 'Monitor', 'Speaker', 'Keyboard', 'Mouse', 'Handsfree'],
 'Price': [25000000, 25000, 32000, 42000, 950, 2560],
 'Units': [25, 30, 12, 10, 25, 400],
 'sales_man': ['Ahmed', 'Ali', 'Ahsan', 'Aslam', 'Abbas', 'Asim'],
 'Adress': 'Karachi',
 'contact': '02154564564'}

In [113]:
# + Operator not works in dictionary to concatinate two dictionaries
country_with_capitals + temp_dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [121]:
country_with_capitals.setdefault('iamdefault')
country_with_capitals

{'Pakistan': 'Islamabad', 'Iraq': 'Baghdad', 'iamdefault': None}

In [122]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [131]:
x = country_with_capitals.keys()
y = "Hello from Russia"

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Pakistan': 'Hello from Russia', 'Iraq': 'Hello from Russia', 'iamdefault': 'Hello from Russia'}

In [133]:
d = dict(foo=100,boo=200)

In [134]:
type(d)

dict

In [137]:
d = dict([
    ('foo',100),
    ('boo',200)
])

In [138]:
type(d)

dict

In [144]:
d = {
    ('foo',100),
    ('boo',200)
}

In [145]:
type(d)

set

In [146]:
x=['a','b',{'foo':1,'bar':{'x':10,'y':20,'z':30},'baz':3},'c','d']
x

['a', 'b', {'foo': 1, 'bar': {'x': 10, 'y': 20, 'z': 30}, 'baz': 3}, 'c', 'd']

In [148]:
x[2]['bar']['z']

30

In [152]:
{(3+2j):"Imaginary Number"}

{(3+2j): 'Imaginary Number'}

In [153]:
{len:23}

{<function len(obj, /)>: 23}

In [154]:
{dict('foo'=1,"bar"=3):"Number"}

SyntaxError: keyword can't be an expression (<ipython-input-154-47dfdcd06d73>, line 1)

In [155]:
{(1,2):"a"}

{(1, 2): 'a'}

In [156]:
x=['a','b',{'foo':1,'bar':{'x':10,'y':20,'z':30},'baz':3},'c','d']
'z' in [2]

False

# Set In Python

In [179]:
aset = {1, 2, 3, 4, 5, 6, 7, 8, 9 ,10,10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
50}
type(aset)

set

In [180]:
aset

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50}

In [181]:
bset= {}
type(bset)

dict

In [182]:
cset={1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,}

In [183]:
cset

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30}

In [184]:
aset.difference(cset)

{31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50}

In [185]:
aset.intersection(cset)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30}

In [186]:
aset.issubset(cset)

False

In [187]:
cset.issubset(aset)

True

In [188]:
aset.issuperset(cset)

True

In [191]:
aset.add(100)

In [194]:
aset.remove(101)

In [195]:
aset

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 100}

In [196]:
aset.isdisjoint(cset)

False

In [197]:
aset.union(cset)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 100}

In [198]:
aset.symmetric_difference(cset)

{31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 100}

In [199]:
aset.difference(cset)

{31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 100}

In [203]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [209]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference(y)

{'banana', 'cherry'}

In [212]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [206]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.discard(y)

print(x)

{'banana', 'apple', 'cherry'}