# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("Sajid Majeed", 123, True, 34.6)

Sajid Majeed 123 True 34.6

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print("Sajid Majeed", 123, True, 34.6, sep="-")

Sajid Majeed-123-True-34.6

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [54]:
# type your code here
print("Sajid Majeed", sep=" ")
print(123, sep=" ")
print(True, sep=" ")
print(34.6, sep=" ")

Sajid Majeed
123
True
34.6

In [1]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [56]:
#type your code here
friend_name= "Mr. Ahmed"
age= 30
profession= "Lawyer"
degree= "Bachelor in law"
passout_year= 2005
firm= "The Himalya Associates"
firm_joining_year= 2015
Height_ft= 5.10
Weight_gm= 70600
monthly_income_pkr= 200000
is_professional= True

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [62]:
#type your code here 
current_year =2023
passout_year= 2005
print(f" From {current_year-passout_year} years ago Mr. Ahmed passed his Bachelors degree")

 From 18 years ago Mr. Ahmed passed his Bachelors degree

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [58]:
#type your code here 
current_year =2023
firm_joining_year= 2015
print(f"From {current_year-firm_joining_year} years Mr. Ahmed has been working with law firm 'The Himalya Associates")

From 8 years Mr. Ahmed has been working with law firm 'The Himalya Associates

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [37]:
#type your code here 
monthly_income_pkr= 200000
monthly_income_usd=monthly_income_pkr/285
print(monthly_income_usd)

print(round(monthly_income_usd,2))
import math
print(math.ceil((monthly_income_usd)))
print(math.floor((monthly_income_usd)))

701.7543859649123
701.75
702
701

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [38]:
#type your code here 
print(monthly_income_usd)
print(type(monthly_income_usd))
converted_value =int(monthly_income_usd)
print(converted_value)
print(type(converted_value))

701.7543859649123
<class 'float'>
701
<class 'int'>

10) Print the type of Mr. Ahmed's weight.  Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [42]:
#type your code here 
print(Weight_gm)
type(Weight_gm)
weight_in_kg = int (Weight_gm /1000)
print(weight_in_kg)

70600
70

11) print the year of birth of Mr. Ahmed.

In [51]:
#type your code here
birt_year = current_year -age
birth_year

1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [48]:
#type your code here 
100%6

4