# More on User Input .....

In [4]:
favourite_number = input("Enter your Favourite Number: " )

Enter your Favourite Number: 10

In [5]:
type(favourite_number)

str

In [7]:
favourite_number = int(input("Enter your Favourite Number: " ))
type(favourite_number)

Enter your Favourite Number: 10

int

In [8]:
int("123")

123

In [10]:
int("123.8")

ValueError: invalid literal for int() with base 10: '123.8'

# Python Data Strucuture

      -list
      -Tuple
      -Set 
      -Dictionary

In [12]:
fruits = ['Apple','Mango','Cherry','Banana']
print(fruits)
print(type(fruits))

['Apple', 'Mango', 'Cherry', 'Banana']
<class 'list'>

In [ ]:
# index      0        1       2        3
fruits = ['Apple','Mango','Cherry','Banana']
# -veindex  -4       -3     -2       -1

# Operation on List 

# Crud (Operation)
# Create
# Retrive
# Update
# Delete
# Slice

In [17]:
country_List =["Pakistan","India","Bangladesh","Srilanka","Canada","USA"]
print(country_List)

['Pakistan', 'India', 'Bangladesh', 'Srilanka', 'Canada', 'USA']

In [19]:
print(len(country_List))

6

In [21]:
print(country_List[0])

Pakistan

In [24]:
print(country_List[0 : 5])

['Pakistan', 'India', 'Bangladesh', 'Srilanka', 'Canada']

In [23]:
print(country_List[-4])

Bangladesh

In [25]:
print(country_List[0:])

['Pakistan', 'India', 'Bangladesh', 'Srilanka', 'Canada', 'USA']

In [26]:
print(country_List[2:6])

['Bangladesh', 'Srilanka', 'Canada', 'USA']

In [27]:
print(country_List[:6])

['Pakistan', 'India', 'Bangladesh', 'Srilanka', 'Canada', 'USA']

In [28]:
print(country_List[0:-3])

['Pakistan', 'India', 'Bangladesh']

In [34]:
country_List[1] = "UK"
country_List[2] = "Bangladesh"
print(country_List)

['Pakistan', 'UK', 'Bangladesh', 'Srilanka', 'Canada', 'USA']

In [ ]:
# Adding more item in existing List
# append
# insert
# +
# extend

In [35]:
# append()
# It adds new item on very last index
# It add one item at a time

In [38]:
empty_list= []
print(empty_list)

[]

In [ ]:
empty_list.append("Computer")
print(empty_list)

In [42]:
empty_list.append("Laptop")
print(empty_list)

['Computer', 'Computer', 'Computer', 'Laptop']

In [43]:
del(empty_list)

In [44]:
print(empty_list)

NameError: name 'empty_list' is not defined

In [45]:
empty_list= []
print(empty_list)

[]

In [46]:
empty_list.append("Computer")
print(empty_list)

['Computer']

In [47]:
empty_list.append("Laptop")
print(empty_list)

['Computer', 'Laptop']

In [48]:
empty_list.append("GPU")
print(empty_list)

['Computer', 'Laptop', 'GPU']

In [49]:
# Add elements to desired location
# Takes index and value both for insert operation
empty_list.insert(4,"TPU")

In [50]:
print(empty_list)

['Computer', 'Laptop', 'GPU', 'TPU']

In [52]:
print(empty_list[3])

TPU

In [55]:
staff = ['Asif','Saad','Hassan','Umer','Ahmed']
faculty = ['Sahil', 'Waseem', 'Nasir Hussain']

In [61]:
employees = []

In [57]:
employees.append(staff)

In [58]:
employees

[['Asif', 'Saad', 'Hassan', 'Umer', 'Ahmed']]

In [59]:
employees.extend(faculty)

In [60]:
employees

[['Asif', 'Saad', 'Hassan', 'Umer', 'Ahmed'],
 'Sahil',
 'Waseem',
 'Nasir Hussain']

In [62]:
employees

[]

In [95]:
# + Operator for Adding List
employees = staff + faculty

In [97]:
employees

['Asif', 'Saad', 'Hassan', 'Umer', 'Ahmed', 'Sahil', 'Waseem', 'Nasir Hussain']

In [76]:
# Deleting item from List
# del
# Pop ()
# remove ()
# Clear()

In [67]:
# del delete a value by index
# del delete a value in memory
del employees [4]
employees

['Asif', 'Saad', 'Hassan', 'Umer', 'Sahil', 'Waseem', 'Nasir Hussain']

In [71]:
employees

['Saad', 'Hassan', 'Umer', 'Sahil', 'Waseem', 'Nasir Hussain']

In [ ]:
# Pop ()
# delete member permanently
# delete from last index
# return a value also
# also take index

In [77]:
poped_item = employees.pop()

In [78]:
employees

['Asif', 'Saad', 'Hassan', 'Umer', 'Ahmed', 'Sahil', 'Waseem']

In [79]:
poped_item

'Nasir Hussain'

In [83]:
poped_item = employees.pop(2)

In [84]:
employees

['Asif', 'Saad', 'Umer', 'Ahmed', 'Sahil', 'Waseem']

In [85]:
poped_item

'Hassan'

In [93]:
poped_item = employees.pop()

IndexError: pop from empty list

In [98]:
employees

['Asif', 'Saad', 'Hassan', 'Umer', 'Ahmed', 'Sahil', 'Waseem', 'Nasir Hussain']

In [ ]:
# remove()
# delete by value
# permenantly remove

In [99]:
employees.remove('Asif')

In [100]:
employees

['Saad', 'Hassan', 'Umer', 'Ahmed', 'Sahil', 'Waseem', 'Nasir Hussain']

In [101]:
employees.remove('asif')

ValueError: list.remove(x): x not in list

In [ ]:
employees.remove()

In [102]:
copy_employees = employees.copy()

In [103]:
copy_employees

['Saad', 'Hassan', 'Umer', 'Ahmed', 'Sahil', 'Waseem', 'Nasir Hussain']

In [106]:
existing_emloyees = employees

In [107]:
existing_emloyees

['Saad', 'Hassan', 'Umer', 'Ahmed', 'Sahil', 'Waseem', 'Nasir Hussain']

In [108]:
employees.remove('Ahmed')

In [109]:
employees

['Saad', 'Hassan', 'Umer', 'Sahil', 'Waseem', 'Nasir Hussain']

In [110]:
existing_emloyees

['Saad', 'Hassan', 'Umer', 'Sahil', 'Waseem', 'Nasir Hussain']

In [111]:
copy_employees

['Saad', 'Hassan', 'Umer', 'Ahmed', 'Sahil', 'Waseem', 'Nasir Hussain']

In [117]:
print(employees.count('Saad'))
print(employees.index('Saad'))

1
0

In [125]:
employees.sort(reverse=True)
employees

['Waseem', 'Umer', 'Sahil', 'Saad', 'Nasir Hussain', 'Hassan']

In [124]:
employees.reverse()
employees

['Waseem', 'Umer', 'Sahil', 'Saad', 'Nasir Hussain', 'Hassan']

In [126]:
employees.sort()
employees

['Hassan', 'Nasir Hussain', 'Saad', 'Sahil', 'Umer', 'Waseem']

In [3]:
# Slicing
# performed on List and String
# copies the subset of values in a collection
nums = [1,12,23,25,36,58,53,59,98]
nums

[1, 12, 23, 25, 36, 58, 53, 59, 98]

In [4]:
# takes two parameters Start index & end index
nums[2:5]

[23, 25, 36]

In [5]:
nums[:5]

[1, 12, 23, 25, 36]

In [6]:
nums[:]

[1, 12, 23, 25, 36, 58, 53, 59, 98]

In [7]:
nums[0:3]

[1, 12, 23]

In [8]:
nums[:-5]

[1, 12, 23, 25]

In [11]:
nums[-6:-3]

[25, 36, 58]

In [12]:
nums[2:3]

[23]

In [13]:
nums[7:1]

[]

In [16]:
# start,end,step
nums [1:7:2]

[12, 25, 58]

In [17]:
nums [::2]

[1, 23, 36, 53, 98]

In [18]:
nums [::-2]

[98, 53, 36, 23, 1]

In [19]:
nums [1:7:-1]

[]

In [20]:
nums[-7:4]

[23, 25]

In [31]:
text = "a day without python is an empty day"

In [32]:
text[::-1]

'yad ytpme na si nohtyp tuohtiw yad a'

In [36]:
text.capitalize()

'A day without python is an empty day'

In [39]:
text.lower()

'a day without python is an empty day'

In [42]:
splitted = text.split()

In [43]:
splitted

['a', 'day', 'without', 'python', 'is', 'an', 'empty', 'day']

In [44]:
reversed = splitted[::-1]
reversed

['day', 'empty', 'an', 'is', 'python', 'without', 'day', 'a']

In [45]:
' '.join(reversed)

'day empty an is python without day a'

In [48]:
"****".join(['a','b'])

'a****b'

In [49]:
" ".join(['a','b'])

'a b'

In [50]:
" ".join(text.split()[::-1])

'day empty an is python without day a'

In [53]:
" ".join(text.split()[::1])

'a day without python is an empty day'

In [5]:
a = [1,2,3,4,5]

In [3]:
a.remove(3)

In [4]:
a

[1, 2, 4, 5]

In [6]:
a

[1, 2, 3, 4, 5]

In [7]:
a[2:2]

[]

In [8]:
a[2:3] = []

In [9]:
a

[1, 2, 4, 5]

In [27]:
b=['a','b','c']

In [18]:
b[len(b):]=['d','e']

In [23]:
b

['a', 'b', 'c']

In [24]:
b+='de'

In [26]:
b

['a', 'b', 'c', 'd', 'e']

In [28]:
b

['a', 'b', 'c']

In [29]:
b[-1:] = ['d','e']

In [30]:
b

['a', 'b', 'd', 'e']

In [33]:
t=("foo",)

In [34]:
type(t)

tuple